---
title: Pandora's box
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/pygment_trac.css" media="screen">
    <title>Pandora's box</title>
  </head>

  <body>

    <header>
	  <div class="container">
		<h1>Boite de Pandore</h1>
		<h2>Une text-toolbox utile et agréable</h2>
	  </div>
	</header>

    <div class="container">
      <section id="main_content">
		
		<p>	
			{% for tag in site.categories %} 
			  <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
			  <ul class="post-list">
				{% assign pages_list = tag[1] %}  
				{% for post in pages_list %}
				  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			  </ul>
			{% endfor %}
		</p>
	  </section>
	  
	  {% include footer.html %}
	  
    </div>   	
  </body>
</html>